
@font-face {
    font-family: 'monteserrat';
    src: url('../fonts/monteserat-sans.woff2');
}

@font-face {
    font-family: "inter";
    src: url("../fonts/inter.woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg: hsl(0, 0%, 100%);
    --grey-bg: rgb(249, 249, 249);
    --accent-orange: hsl(23, 90%, 56%);
    --accent-blue: hsl(204, 70%, 46%);
    --bright-blue: hsl(211, 100%, 50%);

    --text-priimary: hsl(0, 0%, 6%);
    --text-secondary: rgb(255, 255, 255);
    --text-accent-orange-light: rgb(250, 193, 114);
    --text-accent-blue-light: hsl(204, 88%, 58%);

    --font-primary: monteserrat, sans-serif;
    --font-secondary: inter, sans-serif;
}


/* globals */
body {
    --header-height: 74px;
    background-color: var(--primary-bg);
    color: var(--text-priimary);
    font-family: var(--font-primary);
}

.container {
    --cn-width: 1110px;
    width: min(100%, var(--cn-width));
    padding-inline: 15px;
    margin-inline: auto;
    overflow: hidden;
}

.container-fluid {
    --cn-px: 50px;
    width: 100%;
    padding-inline: var(--cn-px);
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .container {
        --cn-width: 930px;
    }
}

@media screen and (max-width: 992px) {
    body {
        --header-height: 66.25px;
    }

    .container {
        --cn-width: 690px;
    }

    .container-fluid {
        --cn-px: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        --cn-width: 510px;
    }
}

a.default {
    text-decoration: none;
    color: var(--text-priimary);
}

ul.default {
    list-style: none;
}


/* header */
header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-bg);
    z-index: 10;
}

header > .container-fluid {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-fluid .logo img {
    width: 90px;
    height: auto;
}

header .container-fluid nav ul.nav-list {
    display: flex;
}

header .container-fluid nav ul.nav-list > li {
    height: var(--header-height);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 600;
    padding-inline: 16px;
}

header .container-fluid nav ul.nav-list > li a.nav-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    padding-bottom: 5px;
    transition: all 300ms ease-in-out;
}

header .container-fluid nav ul.nav-list > li a.nav-link svg {
    fill: var(--text-priimary);
    transition: all 300ms ease-in-out;
}

header .container-fluid nav ul.nav-list>li:hover a.nav-link svg {
    fill: var(--accent-orange);
    transform: rotate(180deg);
}

header .container-fluid nav ul.nav-list > li > a.nav-link::after {
    content: '';
    width: 0px;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-orange);
    transition: all 400ms ease-in-out;
}

header .container-fluid nav ul.nav-list>li:hover a.nav-link {
    color: var(--accent-orange);
}
header .container-fluid nav ul.nav-list>li:hover a.nav-link::after {
    width: 100%;
}

header .container-fluid nav ul li .sub-menu {
    pointer-events: none;
    width: 100vw;
    position: absolute;
    top: var(--header-height);
    left: 0;
    background-color: var(--primary-bg);
    color: var(--text-priimary);
    padding-block: 50px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 300ms ease;
    z-index: -1;
}

header .container-fluid nav ul.nav-list > li:hover .sub-menu {
    pointer-events: all;
    opacity: 1;
    z-index: 10;
}

header .sub-menu .sub-menu-content {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

header .sub-menu .sub-menu-content-col {
    width: 100%;
}

header .sub-menu .sub-menu-content .sub-menu-content-book {
    display: flex;
    align-items: center;
    border: 0.65px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px 24px;
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-image img {
    width: auto;
    height: 300px;
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-content {
    margin-left: 40px;
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-content h4 {
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    text-wrap: wrap;
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-content .price {
    display: flex;
    gap: 5px;
    margin-top: 24px;
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-content .price .strike {
    color: rgb(51, 51, 51);
}

header .sub-menu .sub-menu-content .sub-menu-content-book .sub-menu-book-content .btn {
    display: inline-block;
    width: 100%;
    max-width: 170px;
    background-color: var(--accent-orange);
    color: var(--text-secondary);
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border: 2px solid var(--accent-orange);
    border-radius: 50px;
    padding: 10px 24px;
    margin-top: 30px;
}

header .sub-menu .sub-menu-content-image {
    height: 340px;
    padding: 16px 24px;
}

header .sub-menu .sub-menu-content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center center;
    border-radius: 20px;
}

header .sub-menu .sub-menu-content .sub-menu-content-seperator {
    background-color: rgb(229, 229, 229);
    width: 2px;
    margin-inline: 15px;
}

header .sub-menu .sub-menu-content .sub-menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

header .sub-menu .sub-menu-content .sub-menu-list li a {
    display: block;
    text-decoration: none;
    text-wrap: wrap;
    color: var(--text-priimary);
    border: 0.65px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px 32px;
}

header .sub-menu .sub-menu-content .sub-menu-list li a h5 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

header .sub-menu .sub-menu-content .sub-menu-list li a:hover {
    color: var(--accent-blue);
}

header .sub-menu .sub-menu-content .sub-menu-list li a p {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    margin-top: 4px;
}

#mobile-toggler {
    display: none;
}

@media screen and (max-width: 992px) {
    header .container-fluid nav {
        display: none;
    }

    #mobile-toggler {
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        border: none;
        padding: 5px 8px;
    }
}

/* hero */
#hero {
    position: relative;
    height: calc(100vh - var(--header-height));
    padding-block: 150px;
    margin-top: var(--header-height);
    overflow: hidden;
}

#hero::before,
#hero::after {
    --size: 300px;
    content: '';
    width: var(--size);
    height: var(--size);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

#hero::before {
    --size: 320px;
    right: -100px;
    bottom: -60px;
    background-color: var(--accent-orange);
}

#hero::after {
    --size: 620px;
    left: -300px;
    bottom: -60px;
    background-color: var(--accent-blue);
}

#hero .content {
    position: relative;
    width: 70%;
    text-align: center;
    margin-inline: auto;
    z-index: 1;
}

#hero .content h1 {
    font-size: 104px;
    font-weight: 400;
    line-height: 101px;
}

#hero .content h1 .circle {
    display: inline-block;
    position: relative;
    padding-top: 50px;
    padding-left: 100px;
    margin-left: 100px 0px;
}

#hero .content h1 .circle span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#hero .content h1 .circle .circle-1 {
    top: 0;
    right: 0;
    background-color: var(--accent-orange);
}
#hero .content h1 .circle .circle-2 {
    top: 65%;
    right: 20%;
    background-color: var(--accent-blue);
}

#hero .content h1 .changing-content {
    color: var(--accent-orange);
    font-size: 226px;
    line-height: 1.5;
}

#hero .content p {
    font-size: 25px;
    line-height: 1.2;
}

@media screen and (max-width: 1500px) {
    #hero {
        padding-block: 100px;
    }

    #hero::before {
        --size: 300px;
        right: -120px;
    }
    #hero::after {
        --size: 570px;
        left: -310px;
    }

    #hero .content h1 {
        font-size: 94px;
        line-height: 96px;
    }

    #hero .content h1 .changing-content {
        font-size: 200px;
    }

    #hero .content p {
        font-size: 22px;
    }
}

@media screen and (max-width: 1400px) {
    #hero {
        padding-block: 80px;
    }
    #hero .content h1 {
        font-size: 76px;
        line-height: 80px;
    }
    #hero .content h1 .changing-content {
        font-size: 160px;
    }
}
@media screen and (max-width: 1300px) {
    #hero {
        padding-top: 40px;
    }
    #hero .content {
        width: 65%;
    }
    #hero .content h1 {
        font-size: 70px;
        line-height: 74px;
    }
}

@media screen and (max-width: 1200px) {
    #hero::before {
        --size: 280px;
        right: -110px;
    }
    #hero::after {
        --size: 500px;
        left: -270px;
    }

    #hero .content {
        width: 60%;
    }

    #hero .content h1 {
        font-size: 84px;
        line-height: 90px;
    }

    #hero .content h1 .changing-content {
        font-size: 170px;
    }
}
@media screen and (max-width: 1024px) {
    #hero::before {
        --size: 260px;
        right: -80px;
    }
    #hero::after {
        --size: 450px;
        left: -240px;
    }
    #hero .content {
        width: 70%;
    }
    #hero .content h1 {
        font-size: 74px;
        line-height: 80px;
    }
    #hero .content h1 .changing-content {
        font-size: 140px;
    }
    #hero .content p {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    #hero {
        max-height: 600px;
        padding-block: 0px 70px;
    }

    #hero::before {
        --size: 220px;
    }
    #hero::after {
        --size: 420px;
    }
    #hero .content {
        width: 80%;
    }
    #hero .content h1 {
        font-size: 58px;
        line-height: 72px;
    }
    #hero .content h1 .changing-content {
        font-size: 110px;
    }
}

@media screen and (max-width: 766px) {
    #hero {
        padding-block: 50px;
    }
    #hero::after {
        --size: 400px;
        left: 250;
        bottom: -140px;
    }
    #hero .content {
        width: 90%;
    }
    #hero .content h1 {
        font-size: 48px;
        line-height: 58px;
    }
    #hero .content h1 .changing-content {
        font-size: 90px;
    }
    #hero .content p {
        font-size: 16px;
    }
}

#hero .banner-image {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#hero .banner-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#hero .banner-image.image1 {
    --bounce-x: -25px;
    --size: 140px;
    top: 110px;
    right: 140px;
    animation-name: bounce-X;
    animation-duration: 7s; 
}

#hero .banner-image.image2 {
    --bounce-y: 30px;
    --size: 120px;
    top: 180px;
    right: 210px;
    animation-name: bounce-Y;
    animation-duration: 8s; 
}

#hero .banner-image.image3 {
    --bounce-x: -40px;
    --size: 240px;
    right: 100px;
    bottom: 80px;
    animation-name: bounce-X;
    animation-duration: 7s;
}

#hero .banner-image.image4 {
    --bounce-x: -25px;
    --size: 220px;
    left: 150px;
    bottom: 240px;
    animation-name: bounce-X;
    animation-duration: 7s; 
}

#hero .banner-image.image5 {
    --bounce-y: 30px;
    --size: 160px;
    left: 240px;
    bottom: 150px;
    animation-name: bounce-Y;
    animation-duration: 8s; 
}

#hero .banner-image.image5 img {
    object-position: center -30px;
}

@media screen and (max-width: 1500px) {
    #hero .banner-image.image1 {
        --size: 120px;
        right: 150px;
    }
    #hero .banner-image.image2 {
        --size: 100px;
    }
    #hero .banner-image.image3 {
        --size: 220px;
        right: 50px;
    }
    #hero .banner-image.image4 {
        --size: 170px;
        left: 140px;
        bottom: 220px;
    }
    #hero .banner-image.image5 {
        --size: 150px;
        left: 210px;
    }
}

@media screen and (max-width: 1200px) {
    #hero .banner-image.image1 {
        right: 60px;
    }
    #hero .banner-image.image2 {
        right: 110px;
    }
    #hero .banner-image.image3 {
        --size: 180px;
        right: 30px;
        bottom: 60px;
    }
    #hero .banner-image.image4 {
        --size: 150px;
        left: 120px;
        bottom: 170px;
    }
    #hero .banner-image.image5 {
        --size: 100px;
        left: 180px;
        bottom: 110px;
    }
}

@media screen and (max-width: 1024px) {
    #hero .banner-image.image1 {
        --size: 90px;
        right: 30px;
    }
    #hero .banner-image.image2 {
        --size: 80px;
        right: 80px;
    }
    #hero .banner-image.image4 {
        --size: 130px;
        left: 110px;
        bottom: 140px;
    }
    #hero .banner-image.image5 {
        left: 150px;
        bottom: 70px;
    }
}

@media screen and (max-width: 991px) {
    #hero .banner-image.image1,
    #hero .banner-image.image2 {
        display: none;
    }

    #hero .banner-image.image4 {
        --size: 140px;
        left: 90px;
        bottom: 120px;
    }

    #hero .banner-image.image5 {
        --size: 80px;
        left: 140px;
        bottom: 80px;
    }
}

/* animation */
@keyframes bounce-X {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--bounce-x));
    }    
}
@keyframes bounce-Y {
    0% {
        transform: translateY(var(--bounce-y));
    }
    100% {
        transform: translateY(0%);
    }    
}

#hero .upsc-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: var(--font-secondary);
    font-weight: 500;
    background-color: var(--bright-blue);
    color: var(--text-secondary);
    border-radius: 22px;
    padding: 10px 20px;
}

#hero .upsc-btn img {
    --size: 25px;
    width: var(--size);
    height: var(--size);
}

/* about-us */
#about-us {
    background-color: var(--grey-bg);
}

#about-us .content {
    width: 80%;
    padding-block: 150px;
    margin-inline: auto;
}

#about-us .content p {
    text-align: center;
    font-size: 35px;
    line-height: 46px;
}

#about-us .content .accent-blue {
    color: var(--accent-blue);
    font-weight: 600;
}
#about-us .content .accent-orange {
    color: var(--accent-orange);
    font-weight: 600;
}

@media screen and (max-width: 1500px){
    #about-us .content {
        width: 70%;
        padding-block: 100px;
    }

    #about-us .content p {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width: 1400px){
    #about-us .content {
        padding-block: 80px;
    }
}

@media screen and (max-width: 1300px){
    #about-us .content p {
        font-size: 26px;
        line-height: 36px;
    }
}

@media screen and (max-width: 1200px){
    #about-us .content {
        width: 65%;
    }

    #about-us .content p {
        font-size: 28px;
    }
}

@media screen and (max-width: 991px){
    #about-us .content {
        width: 80%;
        padding-block: 70px;
    }
    #about-us .content p {
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 767px){
    #about-us .content {
        width: 100%;
        padding-block: 50px;
    }

    #about-us .content p {
        font-size: 20px;
    }
}

/* links */
#links .row {
    --border-clr: rgb(222, 226, 230);
    --border-width: 1.3px;
    position: relative;
}

#links .row:first-child {
    border-bottom: var(--border-width) solid var(--border-clr);
}
#links .row::before {
    content: '';
    width: var(--border-width);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: var(--border-clr);
}

#links .row .content{
    display: flex;
    gap: 5px;
}

#links .row .col {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 80px;
}

#links .row .col > a {
    display: block;
    width: 31vw;
    text-decoration: none;
    color: var(--text-priimary);
}

#links .row .col .title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 44px;
    line-height: 40px;
    font-weight: 600;
}

#links .row .col .icon {
    --size: 49px;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#links .row .col .icon.accent-orange {
    background-color: var(--accent-orange);
}
#links .row .col .icon.accent-blue {
    background-color: var(--accent-blue);
}

#links .row .col > a:hover .icon svg {
    animation: bounce 400ms forwards linear;
}

@keyframes bounce {
    0% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

#links .row .col p {
    line-height: 1.3;
    margin-block: 10px 16px;
}

@media screen and (max-width: 1500px){
    #links .row .col .title {
        font-size: 42px;
        line-height: 56px;
    }

    #links .row .col .icon {
        --size: 45px;
    }
}

@media screen and (max-width: 1400px){
    #links .row .col .title {
        font-size: 40px;
        line-height: 50px;
    }
    #links .row .col .icon {
        --size: 35px;
    }
}

@media screen and (max-width: 1300px){
    #links .row .col {
        padding-block: 60px;
    }

    #links .row .col > a {
        width: 65%;
    }

    #links .row .col .title {
        font-size: 32px;
        line-height: 42px;
    }

    #links .row .col .icon {
        --size: 30px;
    }
}

@media screen and (max-width: 1200px){
    #links .row .col .title {
        font-size: 28px;
        line-height: 8px;
    }
}

@media screen and (max-width: 1024px){
    #links .row .col {
        padding-block: 50px;
        padding-inline: 20px 10px;
    }
    #links .row .col > a {
        width: 100%;
    }
}

@media screen and (max-width: 991px){
    #links .row .col .title {
        font-size: 30px;
        line-height: 40px;
    }

    #links .row .col .icon {
        --size: 34px;
    }

    #links .row .col p {
        margin-top: 5px;
    }
}

@media screen and (max-width: 767px){
    #links .row .col {
        padding-inline: 15px 0px;
        padding-block: 40px;
    }

    #links .row .col .title {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 481px){
    #links .row:first-child {
        border-bottom: none;
    }
    #links .row::before {
        display: none;
    }

    #links .row .content{
        flex-direction: column;
    }

    #links .row .col {
        border-bottom: var(--border-width) solid var(--border-clr);
        padding-inline: 0px;
    }  
      
}

/* tab section */
.tab {
    position: relative;
}

.tab .tab-index .indexes {
    display: flex;
}

.tab .tab-index .indexes .index {
    min-width: calc(100vw - (var(--cn-px) * 2) - 15px);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: rgb(189, 195, 190);
    border-bottom: 2px solid transparent;
    padding: 10px 5px;
}

.tab .tab-index .indexes .index.active {
    color: var(--accent-orange);
    border-color: var(--accent-orange);
}

.tab .tab-index .slider-buttons {
    display: flex;
    justify-content: center;
}

.tab .tab-index .slider-buttons button {
    background-color: transparent;
    border: none;
    padding: 8px 14px;
    margin-bottom: 10px;
}

.tab-item .tab-image {
    overflow: hidden;
    padding-inline: 20px;
}

.tab-item .tab-image img {
    width: 100%;
    height: auto;
}

.tab-item .tab-content > h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    text-align: center;
    color: var(--text-accent-orange-light);
    padding-block: 30px;
}

.tab-item .tab-content .tab-content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.tab-item .tab-content .tab-content-box h4 {
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
}

.tab-item .tab-content .tab-content-box p {
    font-size: 14px;
    line-height: 22px;
}

@media screen and (min-width: 767px) {
    .tab {
        padding-top: 40px;
        background-color: rgba(0,0,0,.4);
    }

    .tab .tab-index .indexes {
        justify-content: center;
    }

    .tab .tab-index .indexes .index {
        cursor: pointer;
        min-width: unset;
        width: 25%;
        border-color: rgb(189, 195, 190);
    }
    .tab .tab-index .slider-buttons {
        display: none;
    }

    .tab-item .tab-image {
        position: absolute;
        inset: 0;
        padding: 0;
        z-index: -1;
    }

    .tab-item .tab-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tab-item .tab-content > h2 {
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        padding-bottom: 150px;
    }

    .tab-item .tab-content .tab-content-box {
        flex-direction: row;
        gap: 60px;
        color: var(--text-secondary);
        text-align: left;
    }

    .tab-item .tab-content .tab-content-box h4 {
        font-size: 22px;
        line-height: 28px;
    }

    .tab-item .tab-content .tab-content-box p {
        margin-top: 8px;
    }
}

@media screen and (min-width: 991px) {
    .tab-item .tab-content > h2 {
        font-size: 36px;
        line-height: 43px;
        padding-top: 150px;
    }

    .tab-item .tab-content .tab-content-box p {
        margin-top: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .tab-item .tab-content .tab-content-box h4 {
        font-size: 24px;
        line-height: 31px;
    }

    .tab-item .tab-content .tab-content-box p {
        margin-top: 15px;
    }
}

@media screen and (min-width: 1300px) {
    .tab-item .tab-content > h2 {
        padding-bottom: 190px;
    }
}

/* statistics */
#statistics {
    padding-block: 150px;
}

#statistics .content > h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
}

#statistics .content .statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 50px;
}

#statistics .content .statistics .statistics-item {
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--accent-blue);
    color: var(--text-secondary);
    border: 4px solid transparent;
    border-radius: 8px;
    padding: 25px 24px 45px;
}

#statistics .content .statistics .statistics-item h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

#statistics .content .statistics .statistics-item p {
    text-align: center;
    font-size: 86px;
    font-weight: 600;
    line-height: 88px;
}
#statistics .content .statistics .statistics-item p > span {
    display: block;
}

#statistics .content .statistics .statistics-item p .percent {
    font-size: 28px;
    line-height: 36px;
}

.statistics-item.accent-blue {
    background-color: var(--accent-blue);
}
.statistics-item.accent-blue p {
    color: var(--text-accent-orange-light);
}

.statistics-item.accent-orange-light {
    background-color: var(--text-accent-orange-light) !important;
}
.statistics-item.accent-orange-light p {
    color: var(--accent-orange);
}

.statistics-item.accent-blue-outeline {
    background-color: var(--primary-bg) !important;
    border-color: var(--accent-blue) !important;
    color: var(--text-accent-blue-light) !important;
}
.statistics-item.accent-blue-outeline p {
    color: var(--text-accent-blue-light);

}
.statistics-item.accent-orange {
    background-color: var(--accent-orange) !important;
}
.statistics-item.accent-orange p {
    color: var(--text-accent-orange-light);
}

@media screen and (max-width: 1500px){
    #statistics {
        padding-block: 100px;
    }
    #statistics .content > h1 {
        font-size: 40px;
        line-height: 50px;
    }
    #statistics .content .statistics .statistics-item p {
        font-size: 58px;
        line-height: 66px;
    }
}
@media screen and (max-width: 1400px){
    #statistics {
        padding-block: 80px;
    }
}
@media screen and (max-width: 1300px){
    #statistics .content > h1 {
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width: 1200px){
    #statistics .content > h1 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media screen and (max-width: 991px){
    #statistics {
        padding-block: 70px;
    }
    #statistics .content > h1 {
        font-size: 32px;
        line-height: 42px;
    }
    #statistics .content .statistics {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    #statistics .content .statistics .statistics-item {
        min-height: 230px;
    }
}
@media screen and (max-width: 767px){
    #statistics {
        padding-block: 50px;
    }
    #statistics .content > h1 {
        font-size: 26px;
        line-height: 36px;
    }
}
@media screen and (max-width: 481px){
    #statistics .content .statistics {
        grid-template-columns: 1fr;
    }
}